---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const { title, description, info } = entry?.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
        <div class="content col-12 md:col-8 m-auto" >
          <h4 class="text-center"  set:html={markdownify(info?.title)} />
          <p class="mt-4 text-center" set:html={markdownify(info?.description)} />
          <ul class="list-none pl-0 m-auto w-80">
            {
              info?.contacts?.map((contact: string) => (
                <li>
                  <strong class="text-dark" set:html={markdownify(contact)} />
                </li>
              ))
            } 
  </section>
  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "dQhZd4KksKhZ1KmVh",
      });
   })();
</script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('contact-form') as HTMLFormElement | null;
    if(form)
    form.addEventListener('submit', function (e) {
      e.preventDefault()
        if (form.checkValidity()) {
            form.reset()
        }
    })})

  </script>
</Base>
